body{
    font-family: 'Roboto', sans-serif;
}
p{
    font-weight: 500;
}
.displayflex{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.displayflex h1{
    font-size: 50px;
    font-weight: 900;
    color:#575757;
    text-transform: capitalize;
}
.displayflex span{
    color:orange;
}
.displayflex p{
    margin-bottom: 20px;
    color:#8C8C8C;
    line-height: 25px;
    font-weight: 200;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(#FE4A2E,#FC8F49);
    display: inline-block;
    padding:20px 40px;
    border-radius: 30px;
    color:#fff;
    font-weight: 900;
}
/* ================================================================================== */
.about-sec img{ 
    height: 600px;
    width: 70%;
    display: inline-block;
    padding-top: 35px;
    
}
.about-sec{
    background: url(images/shapes/frame-59.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about-sec h2{
    padding-top: 190px;
    font-size: 40px;
    color:#575757;
    font-weight: bold;
}
.about-sec p{
    padding-right: 20px;
}
/* ======================================================================================= */
.section-title{
    text-align: center;
    width: 100%;
    margin-bottom: 80px;
}
.recipies .displayflex{
    padding:0 45px;
}
.section-title h2{
    font-size: 40px;
    color:#575757;
}
.third-one-width{
    width: 30%;
    margin: 5px 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 15px #ddd;
}
.third-one-width img{
    width: 100%;
    height: 280px;
    border-radius: 30px;
}
.third-one-width h3{
    font-size: 25px;
}